<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <footer class="fixed-bottom text-center text-light" th:fragment="footerFragment">

    <div id="forPC" class="row d-none d-lg-block bg-secondary" style="height:80px; height:10vh;">
      <div class="col-12 p-3">
      <a href="javascript:void(0)" style="color: white;">個人情報の取り扱いについて</a> / <a href="javascript:void(0)" style="color: white;">個人情報保護方針</a>
      <br/>
      © RAISIN CO., LTD. All rights reserved.
      </div>
    </div>

    <div id="forPhone" class="row  d-block d-lg-none bg-secondary" style="height:80px; height:15vh; padding-top: 60px;">
      <div class="col-12 p-3">
      <a href="javascript:void(0)" style="color: white;">個人情報の取り扱いについて</a> / <a href="javascript:void(0)" style="color: white;">個人情報保護方針</a>
      <br/>
      © RAISIN CO., LTD. All rights reserved.
      </div>
    </div>

  </footer>
</html>

